---
layout: default
title: "首页"
group: navigation
weight: 1
---
{% include JB/setup %}

<div id="grid-gallery" class="grid-gallery">
  <section class="grid-wrap">
    <ul class="grid">
      <li class="grid-sizer"></li><!-- for Masonry column width -->

      {% for gallery in site.data.galleries %}
        {% if gallery.id == "MHXY" %}
          {% for image in gallery.images %}
            <li>
              <figure>
                <img src="{{ site.baseurl }}{{ gallery.imagefolder }}/{{ image.thumb }}" alt="img01"/>
                <figcaption><h3>{{ image.name }}</h3><p>{{ image.text }}</p></figcaption>
              </figure>
            </li>
          {% endfor %}
        {% endif %}
      {% endfor %}

    </ul>
  </section><!-- // grid-wrap -->
  <section class="slideshow">
    <ul>
      {% for gallery in site.data.galleries %}
        {% if gallery.id == "MHXY" %}
          {% for image in gallery.images %}
            <li>
              <figure>
                <figcaption>
                  <h3>{{ image.name }}</h3>
                  <p>{{ image.detail }}</p>
                </figcaption>
                <img src="{{ site.baseurl }}{{ gallery.imagefolder }}/{{ image.large }}" alt="img01"/>
              </figure>
            </li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
    <nav>
      <span class="icon nav-prev"></span>
      <span class="icon nav-next"></span>
      <span class="icon nav-close"></span>
    </nav>
    <div class="info-keys icon">Navigate with arrow keys</div>
  </section><!-- // slideshow -->
</div><!-- // grid-gallery -->